<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/guest/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let message of messages$ | async">
    <ion-row
      *ngIf="message?.sender?.type === 'GUEST'"
      class="conversation--participant-host"
    >
      <ion-item class="fragment" lines="none">
        <div class="fragment-wrapper">
          <div class="fragment--text">{{ message.text }}</div>
          <small right style="color: #bbbbbb">{{
            message?.createdAt.toMillis() | date: "shortTime"
          }}</small>
        </div>
      </ion-item>
    </ion-row>
    <ion-row
      *ngIf="message?.sender?.type === 'STAFF'"
      class="conversation--participant-hotel"
    >
      <ion-item class="fragment" lines="none">
        <div class="fragment-wrapper">
          <div class="fragment--text">{{ message.text }}</div>
          <small right style="color: #bbbbbb">{{
            message?.createdAt.toMillis() | date: "shortTime"
          }}</small>
        </div>
      </ion-item>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <ion-item lines="none">
    <ion-textarea
      (keydown.enter)="sendMessage($event)"
      [(ngModel)]="message"
      autoGrow="true"
      autofocus="autofocus"
      name="fragmentInput"
      placeholder="Write to talk front desk"
      spellcheck="true"
    >
    </ion-textarea>
    <ion-icon
      (click)="sendMessage()"
      color="primary"
      name="send"
      title="Send"
    ></ion-icon>
  </ion-item>
</ion-footer>
